:root {
  font-family: 'Montserrat', sans-serif;
  --light-blue:rgb(20, 124, 202);
  --dark-blue:#13446a;
  --green:#146838;
  --tan:#f7f6f0;
  --lighter-blue: #e8f0fe;
  --blue-border:rgb(187, 216, 239);
  line-height: 16px
}

p{
  font-family: nunito, sans-serif;
}

.containerrwe{
  padding: 80px 59.3px;
  background-color: var(--tan);
}

.title-size{
  font-weight: 700;
  font-size: 2.5vw;
  color:var(--dark-blue)
}

html,body{
  margin:0;
  padding:0;
}

